<style>
    .btn {
        background: gold;
        color: maroon;
        font-weight: bold;
        text-decoration: none;
        box-sizing: border-box;
    }
</style>
<div *ngIf="hasCookie">
<h3>
    Beds:
    <select id="locationDropdown"  (change)="updateGraph(bed)" [(ngModel)]=bed>
        <option *ngFor="let location of locations" value="{{location._id}}">{{location._id}}</option>
    </select>
</h3>

<button type="button" class="btn btn-primary btn-lg" (click)="updateBarChart()">Default Info</button>

<button [routerLink]="['/admin']" class="btn btn-primary btn-lg" style="float: right">Back to Admin Page</button>

<google-chart id="barChart" [data]="Bar_ChartData"></google-chart>
</div>
<div *ngIf="!hasCookie">
    <login-component></login-component>
</div>

