<style>
    .btn {
        background: gold;
        color: maroon;
        font-weight: bold;
        text-decoration: none;
        box-sizing: border-box;
    }
</style>

<div *ngIf="hasCookie">
    <br><br><br><br>
    New Password:  &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj;
    <input (input)="password1 = $event.target.value" type="password" name="password"><br>
    Re-type Password:
    <input (input)="password2 = $event.target.value" type="password" name="password"><br>
    Old Password:  &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj; &zwnj;
    <input (input)="passwordOld = $event.target.value" type="password" name="password"><p></p>
    <button (click)='changePassword(password1, password2, passwordOld)' class="btn">Change Password</button>
    <button  [routerLink]="['/admin']" class="btn btn-primary btn-lg" style="float: right">Back to Admin Page</button>
</div>