<!DOCTYPE html>
<style>
    .our-font {
        font-family: 'Open Sans';
    }
    .white-font {
        color: white;
    }

    .drop-down {
        font-family: "Open Sans";
        font-size: 25px;
        padding: 15px;
    }

</style>

<nav class="navbar navbar-inverse" role="navigation">

    <!-- Brand and toggle get grouped for b etter mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand our-font white-font" href="#">Choose Flower</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
            <li class="active our-font white-font drop-down" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" *ngFor="let currentFlower of plantNames" (click)="onClickedPlant(currentFlower)">{{currentFlower.commonName}} {{currentFlower.cultivar}} </li>
        </ul>
    </div>
</nav>
