<!DOCTYPE html>
<style>

    .our-font {
        font-family: 'Open Sans';
    }
    .gold-font {
        color: gold;
        font-weight: bold;
    }
    .drop-down {
        font-family: "Open Sans";
        font-size: 25px;
        padding: 15px;
    }
    .navbar-toggle .icon-bar{
        background-color: gold;
    }
    .navbar-default .navbar-brand{
        background-color: maroon;
        border-color: maroon;
    }

</style>

<nav class="navbar navbar-inverse" role="navigation" style="background-color: maroon">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div *ngIf="!bedSelect">
            <a class="navbar-brand our-font gold-font" href="#">Choose Bed</a>
        </div>
        <div *ngIf="bedSelect">
            <a class="navbar-brand our-font gold-font" href="#">Bed: {{currentBed._id}}</a>
        </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="active our-font gold-font drop-down" *ngFor="let currentBed of bedNames" (click)="onSelectBed(currentBed)">{{currentBed._id}}</li>
        </ul>
    </div>
</nav>
